<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 映射文件 -->
<mapper namespace="cn.fan.cloud_note.dao.RelationDao">
	<!-- 一.关联多个对象 -->
	<!-- 1)使用两条sql语句加载数据 -->
	<select id="findUserAndBooks" parameterType="string" resultMap="userMap1">
		SELECT * from cn_user 
		WHERE cn_user_id=#{userId}
	</select>
	<resultMap id="userMap1" type="cn.fan.cloud_note.entity.User">
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<!-- 指定books属性,是一个list集合,泛型为Book -->
		<!-- javaType是返回类型 -->
		<collection property="books" javaType="java.util.List" 
					ofType="cn.fan.cloud_note.entity.Book"
					select="findBooks" column="cn_user_id">
		</collection>
	</resultMap>
	<select id="findBooks" parameterType="string" resultType="cn.fan.cloud_note.entity.Book">
		SELECT * FROM cn_notebook 
		WHERE cn_user_id=#{userId}
	</select>
	
	<!-- 2)使用一条sql语句加载数据 -->
	<select id="findUserAndBooks1" parameterType="string" resultMap="userMap2">
		SELECT * FROM cn_user u JOIN cn_notebook b 
		ON(u.cn_user_id=b.cn_user_id)
		WHERE u.cn_user_id=#{userId}
	</select>
	<resultMap id="userMap2" type="cn.fan.cloud_note.entity.User">
		<!-- 定义cn_user字段的加载,不能省略 -->
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<result property="cn_user_password" column="cn_user_password"/>
		<result property="cn_user_token" column="cn_user_token"/>
		<result property="cn_user_nick" column="cn_user_nick"/>
		<collection property="books" javaType="java.util.List" 
					ofType="cn.fan.cloud_note.entity.Book">
			<id property="cn_notebook_id" column="cn_notebook_id"/>
			<result property="cn_user_id" column="cn_user_id"/>
			<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
			<result property="cn_notebook_name" column="cn_notebook_name"/>
			<result property="cn_notebook_desc" column="cn_notebook_desc"/>
			<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		</collection>
	</resultMap>
	
	<!-- 二.关联单个对象 -->
	<!-- 1)两条语句加载Book和关联的User信息 -->
	<select id="findBookAndUser" resultMap="bookMap1">
		SELECT * FROM cn_notebook
	</select>
	<resultMap id="bookMap1" type="cn.fan.cloud_note.entity.Book">
		<association property="user" javaType="cn.fan.cloud_note.entity.User"
					 select="findUser" column="cn_user_id"></association>
	</resultMap>
	<select id="findUser" parameterType="string" resultType="cn.fan.cloud_note.entity.User">
		SELECT * FROM cn_user 
		WHERE cn_user_id=#{userId}
	</select>
	<!-- 2)一条语句加载Book和关联的User信息 -->
	<select id="findBookAndUser1" resultMap="bookMap2">
		SELECT * 
		FROM cn_notebook b JOIN cn_user u 
		ON(b.cn_user_id=u.cn_user_id)
	</select>
	<resultMap id="bookMap2" type="cn.fan.cloud_note.entity.Book">
		<id property="cn_notebook_id" column="cn_notebook_id"/>
		<result property="cn_user_id" column="cn_user_id"/>
		<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
		<result property="cn_notebook_name" column="cn_notebook_name"/>
		<result property="cn_notebook_desc" column="cn_notebook_desc"/>
		<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		<association property="user" javaType="cn.fan.cloud_note.entity.User">
			<id property="cn_user_id" column="cn_user_id"/>
			<result property="cn_user_name" column="cn_user_name"/>
			<result property="cn_user_password" column="cn_user_password"/>
			<result property="cn_user_token" column="cn_user_token"/>
			<result property="cn_user_nick" column="cn_user_nick"/>
		</association>
	</resultMap>
</mapper>

