<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- User映射文件 -->
<mapper namespace="cn.fan.cloud_note.dao.UserDao">
	<!--1.根据名称查询出用户信息-->
	<select id="findByName" parameterType="string" resultType="cn.fan.cloud_note.entity.User">
		select * from cn_user where cn_user_name =#{name}
	</select>
	<!--2.用户注册-->
	<insert id="saveUser" parameterType="cn.fan.cloud_note.entity.User">
		insert into cn_user (cn_user_id,cn_user_name,cn_user_password,cn_user_token,cn_user_nick)
		values
		(#{cn_user_id},#{cn_user_name},#{cn_user_password},#{cn_user_token},#{cn_user_nick})
	</insert>
	<!-- 3.根据userId查询用户信息 -->
	<select id="findById" parameterType="string" resultType="cn.fan.cloud_note.entity.User">
		SELECT * FROM cn_user WHERE cn_user_id=#{userId}
	</select>
	<!-- 4.修改当前用户密码 -->
	<update id="changePwd" parameterType="map">
		UPDATE cn_user SET cn_user_password=#{newPwd}
		WHERE cn_user_id=#{userId} AND cn_user_password=#{lastPwd}
	</update>
</mapper>